* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  all: unset;
}

body {
  font-family: monospace;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(241, 241, 241);
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
}

nav > h1 {
  color: white;
}

nav > ul {
  list-style: none;
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav > ul > * {
  padding: 1rem;
  transition: all;
  transition-duration: 300ms;
  cursor: pointer;
}

nav > ul > *:hover {
  background-color: white;
  color: black;
}

header,
main,
section,
footer {
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  min-height: 300px;
}

section > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

section > div > .left {
  height: 400px;
  width: 40%;
  background-color: red;
}

section > div .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  padding: 2rem;
  text-align: center;
}

.bi-list {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

#mobile-nav {
  display: none;
}

/* MOBILE SCREEN */
@media only screen and (max-width: 600px) {
  /* write any css here */
  nav > ul {
    display: none;
  }

  #mobile-nav {
    display: none;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 70px;
  }

  #mobile-nav > ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #mobile-nav > ul > * {
    padding: 1rem;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.262);
    transition: all;
    transition-duration: 300ms;
  }
  #mobile-nav > ul > *:hover {
    background-color: white;
    color: black;
  }
  .bi-list {
    display: block;
  }
  header {
    height: 200px;
    background-color: yellow;
  }
  section > div {
    display: block;
  }
  section > div > .left {
    height: 200px;
    width: 100%;
  }
  section > div .right {
    width: 100%;
    padding: 1rem;
  }
}

/* @media print {
  header {
    display: none;
  }
  section > div > .left {
    background-color: green;
  }
} */
